@import "navbar";
@import "presentation";
@import "aboutMe";
@import "skills";
@import "hobbies";
@import "studies";
@import "proyects";
@import "contact";
@import "mediaQueries";



html{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E7E6;
    font-style: #141301;
}